*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photoNav{
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carosello{
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

#carosello figure > img{
    width: 600px;
    height: 400px;
    display: block;
    
}

.active{
    display: block;
}

.none{
    display: none;
}

.bottoni{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    gap: 33rem;
    position: absolute;
    top: 34%;
    right: 5%;
}

#sidePic > img{
    height: 100px;
    width: 150px;
    display: block;
}

.suggested{
    display: flex;
    flex-direction: column;
}

#carouselAutoButtons{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.bottoni .btn{
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    padding-inline: 10px;
    padding-block: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn{
    cursor: pointer;
}

i{
    color: grey;
}

.scheda{
    position: relative;
}

.titolo{
    position: absolute;
    top: 5%;
    left: 5%;
}

.descrizione{
    position: absolute;
    top: 10%;
    left: 5%;
}

.titolo,
.descrizione{
    color: white;
    text-shadow: 1px 1px black;
}